body{
    margin: 0;
}

#main{
    position: absolute;
    text-align: center;
    background-color: aquamarine;
    width: 100%;
    height: 100%;
}
#game-footer{
    background-color: #222;
    color: white;
}
/* ul styling found at https: //stackoverflow.com/questions/15306108/how-to-style-a-horizontal-list-with-bullets-between-items-using-css  */
ul li {
    display: inline;
    white-space: pre;
}

ul li:after {
    content: " \2022  ";
    margin: 5px;
}

ul li:last-child:after {
    content: "";
}
